{% extends "socialaccount/base.html" %}
{% block title %}Sign-up | Notaso{% endblock %}
{% block header %}
<div class="jumbotron heading-style">
    <div class="container">
        <div class="row">
            <h1>Registrate</h1>
            <p>Conoces a tus profesores antes de entrar al salón</p>
        </div>
    </div>
</div>
{% endblock %} 
{% load url from future %}
{% load i18n %}
{% block content %}
<div class = "container">
	<div class = "row">
		<div class = "col-md-10 col-md-offset-2">
			<p>{% blocktrans with provider_name=account.get_provider.name site_name=site.name %}You are about to use your {{provider_name}} account to login to
			{{site_name}}. As a final step, please complete the following form:{% endblocktrans %}</p>

			<form class="signup" id="signup_form" method="post" action="{% url 'socialaccount_signup' %}">
			  {% csrf_token %}
			  {{ form.as_p }}
			  <button type="submit">{% trans "Sign Up" %} &raquo;</button>
			</form>
		</div>
	</div>
</div>


{% endblock %}
