{% extends 'base.html' %} 
{% load static %}
{% load users_extras %}
{% block navbar %}
    <nav class="navbar navbar-default navbar-fixed-top m-top-for-nav" role="navigation">
        <div class="container-fluid">
            
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><img id = "brand_image" class="img-responsive" alt="Responsive image" src= "{% static "static/img/notaso-200x37.png" %}"/></a>
            </div>

            <div class="collapse navbar-collapse" id = "myNavbar">
                <div class = "navbar-right">
                    <ul class="nav navbar-nav">
                        {% if user.is_authenticated %}
                        <li><a href="/professors/create">Crear Profesor</a>
                        </li>
                        {% endif %}
                        <li><a href="/universities">Universidades</a>
                    </ul>
                    {% if user.is_authenticated %}
                        <ul class="nav navbar-nav navbar-right">
                        
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"> 
                            {% if user.socialaccount_set.all %}
                                 <img src="{{ user.socialaccount_set.all.0.get_avatar_url }}" class="brand profile-pic-nav" width="20" height="20" class="pull-left">
                            {% else %}
                                <img src="{{ user|gravatar_url:user.email }}" class="brand profile-pic-nav" width="20" height="20" class="pull-left">
                            {% endif %}
                            {{ user.email }}<b class="caret"></b></a>
                          <ul class="dropdown-menu">

                            <li><a href="accounts/logout">Logout</a></li>
                          </ul>
                        </li>
                        </ul>
                        {% else %}
                        <ul class="nav navbar-nav navbar-form navbar-right">

                        <a href="/accounts/login">
                            <button type="button" class="btn btn-primary" id = "loginBtn" >Login</button>
                        </a>
                        <a href="/accounts/signup">
                            <button type="button" class="btn btn-default" id = "signUpBtn">Registrarse</button>
                        </a>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </nav>
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div id="home-searchform" class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
            <form action = "/search" role="form" method = "GET">
                <div class="col-md-10 col-xs-8">
                        <input type="text" name = "q" value = "{{search_term}}" class="form-control input-lg" placeholder="Busca un profesor">
                </div>
                <div class="col-md-2 col-xs-2">
                    <input type = "submit" class="btn btn-default btn-lg" value = "Buscar">
                </div>
            </form>
        </div>
    </div>
</div>
<div class="home-banner">
    <h2>Conoce a tus profesores antes de llegar al salón.</h2>
    <h4>Notaso te ayuda a decidir que clase tomar y que profesor es mejor.</h4>
</div>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <div class="col-md-4 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="text-center">Top 5 Profesores</h4>
                    </div>
                    <div class="panel-body">
                        <ul>
                            {% for p in professors %}
                            <li class="clearfix">
                                <div class="grade{{p.get_grade}}lrg professor-grade pull-left"></div>
                                <a href="{% url 'professors:specified_professor' p.slug %}" class="home-table-name">{{p|capfirst}}</a>
                                <br>
                                <a href="{% url 'universities:specified_university' p.university.slug %}" class="home-table-city text-muted">{{p.university}}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="text-center">Top 5 Universidades</h4>
                    </div>
                    <div class="panel-body">
                        <ul>
                            {% for u in universities %}
                            <li class="clearfix">
                                <div class="grade{{u.get_grade}}lrg pull-left"></div>
                                <a href="{% url 'universities:specified_university' u.slug %}" class="home-table-name">{{u.name}}</a>
                                <br>
                                <a href="{% url 'universities:specified_university' u.slug %}" class="home-table-city text-muted">{{u.city}}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="text-center">Comentarios recientes</h4>
                    </div>
                    <div class="panel-body">
                        <ul>
                            {% for rc in recent_comments %}
                            <li class="clearfix">
                            {% if rc.created_by.socialaccount_set.all %}
                                <img src="{{ rc.created_by.socialaccount_set.all.0.get_avatar_url }}" width="35" height="35" class="pull-left">
                                {% else %}
                                <img src="{{ rc.created_by|gravatar_url:rc.created_by.email }}" width="35" height="35" class="pull-left">
                                {% endif %}
                                <a class="home-table-name">{{rc|truncatechars:30}}</a>
                                <br>
                                <a class="home-table-city text-muted">
                                    {% if rc.is_anonymous %} Anónimo {% else %} {{rc.created_by.get_full_name|capfirst}} {% endif %}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
