{% extends "base.html" %}
{% load socialaccount %}
{% block title %} Login | Notaso {% endblock %}
{% block header %}
<div class="jumbotron heading-style">
    <div class="container">
        <div class="row">
            <h1>Login</h1>
            <p>Conoce a tus profesores antes de llegar al salón</p>
        </div>
    </div>
</div>
{% endblock %} 
{% block content %}
<div class="container">
    <div class="row">
        <div class="form-group">
            <ul class="col-md-10 col-md-offset-2 col-xs-12">
            {% if socialaccount.providers  %}
            <div class = "col-md-5 col-xs-12">
                
                <p class="text-center lead">Favor de hacer login con algunas de sus cuentas existentes
                de Facebook o Twitter. También se puede registrar <a href="{{ signup_url }}">aqui.</a></p>

                <div class="text-center">
                    <div>
                        <a href="{% provider_login_url "facebook" method="oauth2" %}" class="login-social button facebook">Login con Facebook</a>
                    </div>
                    <br>
                    <div>
                        <a href="{% provider_login_url "twitter" method="oauth" %}" class="login-social button twitter">Login con Twitter</a>
                    </div>
                    <br>
                </div>
            {% else %}    
                <p>If you have not created an account yet, then please
                <a href="{{ signup_url }}">sign up</a> first.</p>
            {% endif %}
            </div>
            <div class = "col-md-5 col-xs-12">
            <div class="well clearfix">
            <p class="text-center lead">Si tiene una cuenta de {{site.name}}, puede hacer login:</p>
                <form method="POST" action="" class="horizontal-form" role="form">{% csrf_token %}
                    <div>
                        {% if form.login.errors %}
                            <div class = "alert alert-danger alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            {{form.login.errors}}</div>
                        </div>

                        {% endif %}
                        <div class="form-group">
                                <label for="id_login">Email:</label>
                                <input class="form-control" placeholder="Email" id="id_login" maxlength="40" name="login" type="email" />
                        </div>
                    <div>
                        {% if form.password.errors %}
                            <div class = "alert alert-danger alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            {{form.password.errors}}</div>
                        {% endif %}
                    </div>
                        <div class="form-group">
                                <label for="id_password">Password:</label>
                                <input class="form-control" placeholder="Password" id="id_password" name="password" type="password" />
                        </div>
                    <div>
                        <div class = "form-group">
                        <a class="pull-left" id="forgot-pwd" href="{% url 'account_reset_password' %}">¿Cambiar su contraseña?</a>
                            <div class="pull-right test">
                              {% if redirect_field_value %}
                                  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                                  {% endif %}
                                  <button class="btn btn-primary btn-lg pull-right" type="submit">Login</button>
                            </div>  
                        </div>
                    </div>
                </form>
                </div>
            </div>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

