{% extends "account/base.html" %}
{% block title %}Cambio de contraseña{% endblock %}
{% block header %}
<div class="jumbotron heading-style">
    <div class="container">
        <div class="col-md-12">
            <div class="col-md-1 pull-right">
                <div class="grade{{grade}}lrg university-grade"></div>
            </div>
            <div class="col-md-11">
                <h2>
                    {% load i18n %}
                    {% load account %}
                    {% load url from future %}

                    {% trans "Cambio de contraseña" %}
                </h2>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block content %}
<div class = "container">
    <div class = "row">
        <div class = "col-md-10 col-md-offset-1">
            <div class = "col-md-6 col-md-offset-3">
                {% if user.is_authenticated %}
                    {% include "account/snippets/already_logged_in.html" %}
                {% endif %}
                                
                <p>{% trans "¿Se te olvido tu contraseña? Entra tu e-mail y te enviaremos un mensaje que te permitirá crear una contraseña nueva." %}</p>
                
                <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                    {% csrf_token %}
                    {% if form.email.errors %}
                        <div class = "alert alert-danger alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            {{form.email.errors}}</div>
                    {% endif %}
                    <label for="id_email">E-mail:</label>
                    <input class = "form-control" id="id_email" name="email" size="30" type="text">
                    <br>
                    <input class = "btn btn-success pull-right" type="submit" value="{% trans "Reset Password" %}" />
                </form>
            </div>
            <div class = "col-md-6 col-md-offset-3">
                <br>
                <p>{% blocktrans %}Favor comuniquese con nosotros si tiene algun problema al crear su password nuevo. {% endblocktrans %}</p>
                {% block extra_body %}
                    <script>
                        $("#id_email").focus();
                    </script>
                {% endblock %}
            </div>
        </div>
        
    </div>
    
</div>
{% endblock %}
