{% extends "account/base.html" %}
{% block header %}
<div class="jumbotron heading-style">
    <div class="container">
        <div class="col-md-12 col-xs-12">
            <h2>
                Change Password
            </h2>
        </div>
    </div>
</div>
{% endblock %}

{% load url from future %}
{% load i18n %}

{% block content %}
<div class = "container">
	<div class = "row">
		<div class = "col-md-8 col-md-offset-2">
			<form method="POST" action="{% url 'account_change_password' %}" class="password_change">
				<div class = "form-group">
					<ul>
			            <li>
			            	<label for="id_password1">Password nuevo:</label> <input class = "form-control" id="id_password1" name="password1" placeholder="Password" type="password" />
			            </li>
			            <li>
			            	<label for="id_password2">Password Confirmación:</label> <input class = "form-control" id="id_password2" name="password2" placeholder="Password Confirmación" type="password" />
			            </li>
	            		<input type="submit" name="action" value="change password"/>
					</ul>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}