{% extends "account/base.html" %}
{% block header %}
<div class="jumbotron heading-style">
    <div class="container">
        <div class="col-md-12 col-xs-12">
            <h2>
            	Cambiar Contraseña
            </h2>
        </div>
    </div>
</div>
{% endblock %}

{% load url from future %}
{% load i18n %}

{% block content %}
<div class = "container">
	<div class = "row">
		<div class = "col-md-8 col-md-offset-2">
			<form method="POST" action="{% url 'account_change_password' %}" class="password_change">
				<div class = "form-group">
			            <div>
			            	<label for="id_password1">Contraseña nueva:</label> <input class = "form-control" id="id_password1" name="password1" placeholder="Password" type="password" />
			            	<br>
			            </div>
			            <div>
			            	<label for="id_password2">Confirmación de la contraseña:</label> <input class = "form-control" id="id_password2" name="password2" placeholder="Password" type="password" />
			            	<br>
			            </div>
			            <div>
	            			<input class = "btn btn-success btn-lg pull-right"t ype="submit" name="action" value="Cambiar Contraseña"/>
			            </div>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}