{% extends "account/base.html" %}

{% load i18n %}
{% block title %}Cambio de contraseña | Notaso{% endblock %}
{% block header %}
<div class="jumbotron heading-style">
    <div class="container">
        <div class="col-md-12 col-xs-12">
            <h2>
               {% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Cambiar contraseña" %}{% endif %}
            </h2>
        </div>
    </div>
</div>
{% endblock %}
{% block content %}
<div class = "container">
	<div class = "row">
		<div class = "col-md-10 col-md-offset-1 col-xs-12">
    		<p class="lead">{% trans 'Su contraseña ha sido cambiada. Ahora puede hacer' %} <a href="/accounts/login">login</a> {% trans 'con su contraseña nueva.' %}</p>
		</div>
	</div>
</div>
{% endblock %}
