{% extends "account/base.html" %}
{% block title %}Cambio de contraseña | Notaso{% endblock %}
{% block header %}
{% load i18n %}
{% load account %}
{% load url from future %}
<div class="jumbotron heading-style">
    <div class="container">
        <div class="col-md-12 col-xs-12">
            <h2>
            {% trans "Cambio de contraseña" %}
            </h2>
        </div>
    </div>
</div>
{% endblock %}

{% load i18n %}
{% load account %}
{% block content %}
<div class = "container">
	<div class = "row">
		<div class = "col-md-10 col-md-offset-2 col-xs-10 col-xs-offset-1">
		    {% if user.is_authenticated %}
		    {% include "account/snippets/already_logged_in.html" %}
		    {% endif %}
		    
		    <p>{% blocktrans %}Ya hemos enviado el e-mail. Favor contactarnos si no recibe el e-mail en unos minutos.{% endblocktrans %}</p>
		</div>
	</div>
</div> 
{% endblock %}
