{% extends "account/base.html" %}

{% load i18n %}
{% block title %}Cambio de contraseña | Notaso{% endblock %}
{% block header %}
<div class="jumbotron heading-style">
    <div class="container">
        <div class="col-md-12 col-xs-12">
            <h2>
               {% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Cambiar contraseña" %}{% endif %}
            </h2>
        </div>
    </div>
</div>
{% endblock %}


{% load i18n %}

{% block content %}
<div class = "container">
    <div class = "row">
        <div class = "col-md-6 col-md-offset-3">
            {% if token_fail %}
            {% url 'account_reset_password' as passwd_reset_url %}
            <p>{% blocktrans %}El enlace para crear una contraseña nueva es invalido, posiblemente porque ya ha sido usado. Puede pedir crear una contraseña nueva <a href="{{ passwd_reset_url }}">aquí</a>.{% endblocktrans %}</p>
            {% else %}
            {% if form %}
            <form method="POST" action="." class="password_change">
                {% csrf_token %}
                <div class = "form-group">
                    <ul>
                        <li>
                            <label for="id_password1">Contraseña nuevo:</label> <input class = "form-control" id="id_password1" name="password1" placeholder="Password" type="password" />
                        </li>
                        <br>
                        <li>
                            <label for="id_password2">Confirmación de la contraseña:</label> <input class = "form-control" id="id_password2" name="password2" placeholder="Confirmación del password" type="password" />
                        </li>
                        <br>
                        <input class = "btn btn-success btn-lg pull-right" type="submit" name="action" value="Cambiar Contraseña"/>
                    </ul>
                </div>
            </form>
                {% else %}
                <p>{% trans 'Su contraseña ya ha sido cambiada.' %}</p>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}