{% extends 'base.html' %} 
{% block title %} Sign-up | Notaso {% endblock %}
{% block header %}
<div class="jumbotron heading-style">
    <div class="container">
        <div class="row">
            <h1>Registrate</h1>
            <p>Conoces a tus profesores antes de entrar al salón</p>
        </div>
    </div>
</div>
{% endblock %} 
{% block content %}
<div class="container">
    <div class="row">
        <div class="form-group">
            <ul class="col-md-8 col-md-offset-2">
            <p>Ya tienes una cuenta? Entonces favor de hacer <a href="{{ login_url }}">login in.</a></p>
                <form method="POST" action="" class="horizontal-form" role="form">{% csrf_token %}
                    <li>
                        {% if form.email.errors %}
                        <div class = "alert alert-danger">{{form.email.errors}}</div>
                        {% endif %}
                        <div class="form-group">
                            <label for="id_email">Email:</label>
                            <input class="form-control" placeholder="Email" id="id_email" maxlength="40" name="email" type="email" />
                        </div>
                    </li>
                    <li>
                        {% if form.first_name.errors %}
                        <div class = "alert alert-danger">{{form.first_name.errors}}</div>
                        {% endif %}
                        <div class="form-group">
                            <label for="id_first_name">Nombre:</label>
                            <input class="form-control" placeholder="Nombre" id="first_name" maxlength="30" name="first_name" type="text" />
                        </div>
                    </li>
                    <li>
                        {% if form.last_name.errors %}
                        <div class = "alert alert-danger">{{form.last_name.errors}}</div>
                        {% endif %}
                        <div class="form-group">
                            <label for="id_last_name">Apellidos:</label>
                            <input class="form-control" placeholder="Apellidos" id="last_name" maxlength="30" name="last_name" type="text" />
                        </div>
                    </li>
                        {% if form.password1.errors %}
                        <div class = "alert alert-danger">{{form.password1.errors}}</div>
                        {% endif %}
                        <div class="form-group">
                            <label for="id_password1">Password:</label>
                            <input class="form-control" placeholder="Password" id="id_password1" name="password1" type="password" />
                        </div>
                    </li>
                    <li>
                        {% if form.password2.errors %}
                        <div class = "alert alert-danger">{{form.password2.errors}}</div>
                        {% endif %}
                        <div class="form-group">
                            <label for="id_password2">Password Confirmation:</label>
                            <input class="form-control" placeholder="Password" id="id_password2" name="password2" type="password" />
                            <input id="id_confirmation_key" name="confirmation_key" type="hidden">
                        </div>
                    </li>
                    <li>
                        <div class = "form-group">
                            <div class="pull-right">
                                <input type="submit" class="btn btn-success btn-lg pull-right" value="Sign Up">
                            </div>
                        </div>
                    </li>
                </form>
            </ul>
        </div>
    </div>
</div>
{% endblock %}