{% extends "account/base.html" %}
{% block title %} Verificación Enviada| Notaso {% endblock %}
{% block header %}
<div class="jumbotron heading-style">
    <div class="container">
        <div class="row">
            <h2>{% trans Verificación enviada %}</h2>
        </div>
    </div>
</div>
{% endblock %}

{% load i18n %}

{% block content %}
<div class = "container">
	<div class = "row">
		<div class = "col-md-10 col-md-offset-2">
    		<p>{% blocktrans %}Hemos enviado un e-mail para la verificación. Entre al ensalace provisto en el e-mail para finalizar el proceso de registracion. Favor contactenos si no recibe el e-mail en los proximos minutos.{% endblocktrans %}</p>
	
		</div>	
	</div>
</div>

{% endblock %}
