<head>
    <title>Notaso | {{specified_professor.first_name}}{{specified_professor.last_name}}</title>
</head>

<body>
    <h1>{{specified_professor.first_name}}{{specified_professor.last_name}}</h1>
    <p>{{specified_professor.gender}}
        <br>{{specified_professor.university}}
        <br>{{specified_professor.department}}</p>
        <p> professor's grade {{grade}} <br>
            professor's responsability {{responsability}} {{specified_professor.responsibility}} <br>
            professor's personality {{personality}} {{specified_professor.personality}} <br>
            professor's workload {{workload}} {{specified_professor.workload}} <br>
            professor's difficulty {{difficulty}} {{specified_professor.difficulty}} <br>
        </p>

    <br>
    <br>

    <form action="{% url 'professors:comment' specified_professor.slug %}" method="post">
        {% csrf_token %}
        <ul>
            {{comment_form.as_ul}}
        </ul>
        <input type="submit" name="submit" value="Submit">
    </form>
    <br>
    <br>
    <hr>{% for c in comments %}

    <p>{{ c.body }}</p>
    <p>{{ c.date }}</p>
    {% if c.is_anonymous %}
    <p>Anonymous</p>
    {% else %}
    <p>{{ c.created_by }}</p>
     
    {% endif %}
    <p>{{ c.is_anonimo }}</p>
    <p>{{ c.responsibility }}</p>
    <p>{{ c.personality }}</p>
    <p>{{ c.workload }}</p>
    <p>{{ c.difficulty }}</p>

    <hr>{% endfor %}
</body>