{% extends 'base.html' %}
{% load static %}
{% load users_extras %}
{% block title %}Notaso | Busqueda{% endblock %}
{% block navbar %}
    <nav class="navbar navbar-default navbar-fixed-top m-top-for-nav" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><img id = "brand_image" class="img-responsive" alt="Responsive image" src= "{% static "img/notaso-200x37.png" %}"/></a>
            </div>

            <div class="collapse navbar-collapse" id = "myNavbar">
                <div class = "navbar-right">
                    <ul class="nav navbar-nav">
                        {% if user.is_authenticated %}
                            <li><a href="/professors/create">Crear Profesor</a></li>
                        {% endif %}
                        <li><a href="/universities">Universidades</a>
                    </ul>
                        {% if user.is_authenticated %}
                        <ul id="logout" class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                {% if user.socialaccount_set.all %}
                                 <img src="{{ user.socialaccount_set.all.0.get_avatar_url }}" class="brand profile-pic-nav" width="20" height="20" class="pull-left">
                                 {% else %}
                                <img src="{{ user|gravatar_url:user.email }}" class="brand profile-pic-nav" width="20" height="20" class="pull-left">
                                {% endif %}
                                {{ user.email }}<b class="caret"></b></a>
                              <ul class="dropdown-menu">
                                <li><a href="/accounts/logout">Logout</a></li>
                              </ul>
                            </li>
                        </ul>
                        {% else %}
                        <ul class="nav navbar-nav navbar-form navbar-right">
                            <a href="/accounts/login">
                                <button type="button" class="btn btn-primary" id = "loginBtn" >Login</button>
                            </a>
                            <a href="/accounts/signup">
                                <button type="button" class="btn btn-default" id = "signUpBtn">Registrarse</button>
                            </a>
                        </ul>
                        {% endif %}
                </div>
            </div>
        </div>
    </nav>
{% endblock %}
{% block content %}
<div class="container">
    <div class = "row">
        <div id="home-searchform" class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
            <form action = "/search" role="form" method = "GET">
                <div class="col-md-10 col-xs-8">
                        <input type="text" name = "q" value = "{{search_term}}" class="form-control input-lg" placeholder="Busca un profesor">
                </div>
                <div class="col-md-2 col-xs-2">
                    <input type = "submit" class="btn btn-default btn-lg" value = "Buscar">
                </div>
            </form>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 search col-xs-12">
            <ul class="nav nav-pills nav-stacked col-md-3">
              <li class="active"><a href="#professor" data-toggle="tab">Profesor</a></li>
            </ul>

            <div class="tab-content col-md-9 col-xs-12">
                <div class="tab-pane active">
                    <ul>
                    {% if object_list %}
                        {% for prof in object_list %}
                            <a href="/professors/{{prof.slug}}"><h4>{{ prof.first_name|capfirst }} {{ prof.last_name|capfirst }}</h4></a>
                            <li>{{ prof.university }} <span class="label label-danger department pull-right hidden-xs">{{prof.department}}</span></li>
                            <hr/>
                        {% endfor %}
                    {% else %}
                        {% if user.is_authenticated %}
                        <div class = "result-not-found">
                            <h4>El profesor que ha buscado no se encuentra.</h4>
                            <a href="/professors/create"><button type = "button" class = "btn btn-success btn-lg btn-block">Crear Profesor</button></a>
                        </div>
                        {% else %}
                        <div class = "result-not-found">
                            <h4>El profesor que ha buscado no se encuentra.</h4>
                            <p>Cree una cuenta o si ya tiene una haga login para crear al profesor.</p>
                            <a href="/accounts/signup"><button type = "button" class = "btn btn-default btn-lg btn-block">Sign-up</button></a>
                            <br>
                            <a href="/accounts/login"><button type = "button" class = "btn btn-success btn-lg btn-block">Login</button></a>
                        </div>
                        {% endif %}
                    {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
