{% extends "base.html" %}
{% load static %}
{% load users_extras %}
{% load graph_creation %}
{% block extra_head %}
    <meta property="og:title" content="Notaso | {{specified_professor.first_name|capfirst}} {{specified_professor.last_name|capfirst}}"/>
    <meta property="og:url" content="https://notaso.com/professors/{{specified_professor.slug}}/"/>
{% endblock %}
{% block title %}
    {{specified_professor.first_name|capfirst}} {{specified_professor.last_name|capfirst}} | Notaso
{% endblock %}
{% block header %}
<div class="jumbotron heading-style">
    <div class="container">
        <div class="row">
            <div class = "col-md-12 col-xs-12">
                <h1>{{specified_professor.first_name|capfirst}} {{specified_professor.last_name|capfirst}}</h1>
                <p>
                    <a id="p-profile-uni" href="{% url 'universities:specified_university' specified_professor.university.slug %}">
                        {{specified_professor.university}}
                    </a>
                    <span class="label label-danger department">
                        <a href="{% url 'universities:specified_department' specified_professor.university.slug specified_professor.department.slug %}">{{specified_professor.department}}
                        </a>
                    </span>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block content %}
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));

!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
</script>
<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-2">
            <div class="col-md-5 pull-left">
                <span class="history-graph">
                    <img src="{% graph specified_professor %}" alt="">
                </span>
                <div class="fb-share-button pull-left" data-href="http://www.notaso.com/professors/{{specified_professor.slug}}" data-type="button"></div>

                <a id = "twitter" href="https://twitter.com/share" class="twitter-share-button pull-right" data-lang="en" data-count="none"></a>
            </div>
            <div class="col-md-5 pull-right percent col-xs-12">
                <h3>Promedio:</h3>
                <p class = "professor-percent">{{specified_professor.get_percent|stringformat:".2f"}}%
                </p>
                <div class = "details">
                    <h4>Detalles:</h4>
                    <div class="professor-details">
                        <span class="glyphicon glyphicon-comment"></span>
                        <span class="count">{{ paginator.count }} Comentario{{ paginator.count|pluralize }}</span>
                    </div>
                    <div class="professor-details">
                        <span class="glyphicon glyphicon-check"></span>
                        <span class="count">{{rates}} Evaluacion{{ rates|pluralize:"es" }}</span>
                    </div>
                    <div class="grade{{responsability}}sml professor-details">
                        <p>Responsabilidad</p>
                    </div>
                    <div class="grade{{personality}}sml professor-details">
                        <p>Personalidad</p>
                    </div>
                    <div class="rate{{difficulty}}sml professor-details">
                        <p>Dificultad</p>
                    </div>
                    <div class="rate{{workload}}sml professor-details">
                        <p>Trabajo</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="display-reactions container">
    <div class="row">
        <div class = "col-md-8 col-md-offset-2">
            <h2 id="comment-header">Comentario{{ comments|pluralize}}</h2>
            <hr>
            <div id="comment-section">
                {% for c in comments %}
                    {% if c.created_by.socialaccount_set.all and not c.is_anonymous %}
                        <div class = "col-md-1">
                            <img src="{{ c.created_by|avatar_https:c.created_by.socialaccount_set.all.0.get_avatar_url }}" width="35" height="35">
                        </div>
                        <span class = "created-by">
                            <h4 class = "submited-by">{{ c.created_by.first_name|capfirst }} {{ c.created_by.last_name|capfirst }}</h4>
                        </span>
                    {% elif c.is_anonymous %}
                        <div class = "col-md-1">
                            <img src="{{ c.created_by|gravatar_url:"retro" }}" width="35" height="35" class="pull-left">
                        </div>
                        <h4 class = "submited-by">Anónimo</h4>
                    {% else %}
                        <div class = "col-md-1">
                            <img src="{{ c.created_by|gravatar_url:c.created_by.email }}" width="35" height="35" class="pull-left">
                        </div>
                        <span class = "created-by">
                            <h4 class = "submited-by">{{ c.created_by.first_name }} {{c.created_by.last_name}}</h4>
                        </span>
                    {% endif %}

                    <p>{{ c.created_at }}</p>
                    {% if c.body|length >= 1000 %}
                        <p class="show">{{ c.body|truncatechars:1000 }} <a class="showMore cursor-pointer">leer más</a></p>
                        <p class="hide">{{ c.body }} <a class="showLess cursor-pointer">leer menos</a></p>
                    {% else %}
                        <p>{{ c.body }}</p>
                    {% endif%}
                    <hr>
                {% endfor %}

                {% if comments.has_other_pages %}
                    <p>{{ comments.end_index }} de {{ paginator.count }} comentarios.</p>
                    <div class="text-center">
                        <ul class="pagination">
                            {% if comments.previous_page_number|add:"-1" >= 1 %}
                                <li><a onclick="commentAjax({{ comments.previous_page_number|add:"-1" }});">{{ comments.previous_page_number|add:"-1" }}</a></li>
                            {% endif %}

                            {% if comments.has_previous %}
                                <li><a onclick="commentAjax({{ comments.previous_page_number }});">{{ comments.previous_page_number }}</a></li>
                            {% endif %}

                            <li class="active"><a>{{ comments.number }}</a></li>

                            {% if comments.has_next %}
                                <li><a onclick="commentAjax({{ comments.next_page_number }});">{{ comments.next_page_number }}</a></li>
                            {% endif %}


                            {% if comments.next_page_number|add:"1" <= paginator.num_pages %}
                                <li><a onclick="commentAjax({{ comments.next_page_number|add:"1" }});">{{ comments.next_page_number|add:"1" }}</a></li>
                            {% endif %}
                        </ul>
                    </div>
                {% endif %}
            </div>

            {% if user.is_authenticated %}
                <div id = "comment">
                    <div class = "form-group">
                        <form action="" role = "form" method="POST">
                            {% csrf_token %}
                            <div class = "col-md-10 col-md-offset-1">
                                <h3>Comparte tu opinión</h3>
                                <textarea name="body" class = "form-control" rows="10"></textarea>
                                <div>
                                    <br>
                                    <input class="btn btn-success" type="submit" name="submit" value="Enviar">
                                    <input type = "checkbox" id = "id_is_anonymous" if = "collapseOne"name = "is_anonymous">
                                    <label for = "id_is_anonymous"> Enviar comentario anónimamente</label>
                                </div>
                            </div>
                            <div class = "col-md-12 col-md-offset-1 col-xs-12 rates" id="rates_form">
                            {% if user_rates == 0 %}
                                <div class = "col-md-5 col-xs-12"><p>Responsabilidad</p>
                                    <span class = "btn-group btn-group-lg" data-toggle="buttons">

                                        <label for = "id_responsibility" class = "btn btn-default" data-toggle="tooltip" data-placement="top" title="Súper responsable" data-container="body">
                                            <input id = "id_responsibility" type="radio" name="responsibility" value="5"/>A
                                        </label>
                                        <label for = "id_responsibility" class = "btn btn-default" data-toggle="tooltip" data-placement="top" title="Responsable" data-container="body">
                                            <input id = "id_responsibility" type="radio" name="responsibility" value="4"/>B
                                        </label>
                                        <label for = "id_responsibility"  class = "btn btn-default"data-toggle="tooltip" data-placement="top" title="Regular" data-container="body">
                                            <input id = "id_responsibility"  type="radio" name="responsibility" value="3" />C
                                        </label>
                                        <label for = "id_responsibility" class = "btn btn-default" data-toggle="tooltip" data-placement="top" title="Irresponsable" data-container="body">
                                            <input id = "id_responsibility"  type="radio" name="responsibility" value="2" />D
                                        </label>
                                        <label for = "id_responsibility"  class = "btn btn-default" data-toggle="tooltip" data-placement="top" title="Súper irresponsable" data-container="body">
                                            <input id = "id_responsibility"  type="radio" name="responsibility" value="1"/>F
                                        </label>
                                    </span>
                                </div>
                                <div class = "col-md-5 col-xs-12"><p>Cantidad de trabajo</p>
                                    <span class = "btn-group btn-group-lg" data-toggle="buttons">
                                        <label for = "id_workload" class = "btn btn-default" data-toggle="tooltip" data-placement="top" title="Nada" data-container="body">
                                            <input id = "id_workload" type="radio" name="workload" value="1" />1
                                        </label>
                                        <label for = "id_workload" class = "btn btn-default"data-toggle="tooltip" data-placement="top" title="Poco" data-container="body">
                                            <input id = "id_workload" type="radio" name="workload" value="2" />2
                                        </label>
                                        <label for = "id_workload" class = "btn btn-default" data-toggle="tooltip" data-placement="top" title="Regular" data-container="body">
                                            <input id = "id_workload" type="radio" name="workload" value="3" />3
                                        </label>
                                        <label for = "id_workload" class = "btn btn-default" data-toggle="tooltip" data-placement="top" title="Mucho" data-container="body">
                                            <input id = "id_workload" type="radio" name="workload" value="4" />4
                                        </label>
                                        <label for = "id_workload" class = "btn btn-default" data-toggle="tooltip" data-placement="top" title="Demaciado" data-container="body">
                                            <input id = "id_workload"type="radio" name="workload" value="5" />5
                                        </label>
                                    </span>
                                </div>
                                <div class = "col-md-5 col-xs-12"><p>Personalidad</p>
                                    <span class = "btn-group btn-group-lg" data-toggle="buttons">
                                        <label for = "id_personality" class = "btn btn-default" data-toggle="tooltip" data-placement="top" title="Excelente" data-container="body">
                                            <input id = "id_personality" type="radio" name="personality" value="5" />A
                                        </label>
                                        <label for = "id_personality" class = "btn btn-default"data-toggle="tooltip" data-placement="top" title="Buena" data-container="body">
                                            <input id = "id_personality" type="radio" name="personality" value="4" />B
                                        </label>
                                        <label for = "id_personality" class = "btn btn-default" data-toggle="tooltip" data-placement="top" title="Regular" data-container="body">
                                            <input id = "id_personality" type="radio" name="personality" value="3" />C
                                        </label>
                                        <label for = "id_personality" class = "btn btn-default" data-toggle="tooltip" data-placement="top" title="Malo" data-container="body">
                                            <input id = "id_personality" type="radio" name="personality" value="2" />D
                                        </label>
                                        <label for = "id_personality" class = "btn btn-default"data-toggle="tooltip" data-placement="top" title="Pésimo" data-container="body">
                                            <input id = "id_personality" type="radio" name="personality" value="1" />F
                                        </label>
                                    </span>
                                </div>
                                <div class = "col-md-5 col-xs-12">
                                    <p>
                                        Dificultad
                                    </p>
                                    <span class = "btn-group btn-group-lg" data-toggle="buttons">
                                        <label for = "id_difficulty" class = "btn btn-default" data-toggle="tooltip" data-placement="top" title="Súper facil" data-container="body">
                                            <input id = "id_difficulty"  type="radio" name="difficulty" value="1" />1
                                        </label>
                                        <label for = "id_difficulty" class = "btn btn-default"data-toggle="tooltip" data-placement="top" title="Facil" data-container="body">
                                            <input id = "id_difficulty" type="radio" name="difficulty" value="2" />2
                                        </label>
                                        <label for = "id_difficulty" class = "btn btn-default" data-toggle="tooltip" data-placement="top" title="Regular" data-container="body">
                                            <input id = "id_difficulty" type="radio" name="difficulty" value="3" />3
                                        </label>
                                        <label for = "id_difficulty" class = "btn btn-default" data-toggle="tooltip" data-placement="top" title="Dificil" data-container="body">
                                            <input id = "id_difficulty" type="radio" name="difficulty" value="4" />4
                                        </label>
                                        <label for = "id_difficulty" class = "btn btn-default" data-toggle="tooltip" data-placement="top" title="Súper dificil" data-container="body">
                                            <input id = "id_difficulty" type="radio" name="difficulty" value="5" />5
                                        </label>
                                    </span>
                                </div>
                                {% else %}
                                    <p>Usted ya ha realizado una evaluacion de este profesor.</p>
                                {% endif %}
                            </div>
                        </form>
                    </div>
                </div>
                {% else %}
                <p><a href="/accounts/signup"> Crea</a> una cuenta para poder comentar. Si tiene una cuenta haz un <a href="/accounts/login"> login </a> para poder comentar. </p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_bottom %}
    <script>
        $(document).ready(function(){
            $(".showMore").click(function(){
                $(this).parent().removeClass('show').addClass('hide').next().removeClass('hide').addClass('show');
            })

            $(".showLess").click(function(){
                $(this).parent().removeClass('show').addClass('hide').prev().removeClass('hide').addClass('show');
            });

            $('#rates_form').attr('disabled', 'disabled');
            $('#fieldId').removeAttr('disabled');
        });

        function commentAjax(page){
            $.ajax({
                type: 'GET',
                data: {'page': page},
            })
            .done(function(data) {
                var comments = $(data).find('#comment-section').html()
                $("#comment-section").html(comments);
                $('html, body').animate({
                    scrollTop: $("#comment-header").offset().top - 60
                }, 300);
            })
            .fail(function() {
                console.log("error");
            })
            .always(function() {
                console.log("complete");
            });
        }
        
    </script>
{% endblock %}