[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto = "==2.49.0"
cryptography = "~=2.3"
dj-database-url = "==0.5.0"
django-allauth = "==0.37.1"
django-autoslug = {ref = "4dc75083d84265e019a900d636273c731457193d", git = "https://github.com/justinmayer/django-autoslug"}
django-braces = "==1.13.0"
django-configurations = "==2.1"
django-cors-headers = "==2.4.0"
django-debug-toolbar = "==1.9.1"
django-dotenv = "==1.2"
django-extensions = "==2.1.2"
django-filter = "==2.0.0"
django-import-export = "==1.0.1"
django-rest-swagger = "==2.2.0"
django-storages = "==1.1.8"
djangorestframework = "==3.7.2"
gunicorn = "==19.9.0"
memoize = "==1.0.0"
"psycopg2-binary" = "==2.7.5"
pytz = "==2018.5"
raven = "==6.9.0"
whitenoise = "==2.0.6"
Django = "==2.1"
Markdown = "==2.6.4"
MarkupSafe = "==1.0"
Werkzeug = "==0.9.4"

[dev-packages]
pre-commit = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
