[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"asn1crypto" = "==0.24.0"
boto = "==2.49.0"
certifi = "==2018.8.13"
cffi = "==1.11.2"
chardet = "==3.0.4"
"contextlib2" = "==0.5.5"
coreapi = "==2.3.3"
coreschema = "==0.0.4"
cryptography = "==2.1.4"
diff-match-patch = "==20110725.1"
dj-database-url = "==0.5.0"
django-allauth = "==0.36.0"
django-autoslug = "==1.9.3"
django-braces = "==1.13.0"
django-configurations = "==2.1"
django-cors-headers = "==2.4.0"
django-debug-toolbar = "==1.9.1"
django-dotenv = "==1.2"
django-extensions = "==2.1.0"
django-filter = "==1.1.0"
django-import-export = "==1.0.1"
django-rest-swagger = "==2.2.0"
django-secure = "==1.0.1"
django-storages = "==1.1.8"
djangorestframework = "==3.6.3"
djorm-ext-pgfulltext = "==0.10"
"enum34" = "==1.1.6"
gunicorn = "==19.9.0"
idna = "==2.7"
ipaddress = "==1.0.22"
itypes = "==1.1.0"
lxml = "==3.3.5"
memoize = "==1.0.0"
newrelic = "==3.2.0.91"
oauthlib = "==0.6.2"
openapi-codec = "==1.3.2"
"psycopg2-binary" = "==2.7.5"
pycparser = "==2.18"
python-openid = "==2.2.5"
pytz = "==2018.5"
raven = "==6.9.0"
requests = "==2.19.1"
requests-oauthlib = "==0.4.0"
simplejson = "==3.16.0"
six = "==1.6.1"
sqlparse = "==0.2.4"
typing = "==3.6.4"
uritemplate = "==3.0.0"
"urllib3" = "==1.23"
whitenoise = "==2.0.6"
Django = "==1.11.15"
GChartWrapper = "==0.8"
"Jinja2" = "==2.10"
Markdown = "==2.6.4"
MarkupSafe = "==1.0"
PyYAML = "==3.13"
Werkzeug = "==0.9.4"

[dev-packages]

[requires]
python_version = "2.7"

[pipenv]
allow_prereleases = true
