Django==1.6.2
GChartWrapper==0.9
South==0.8.4
Werkzeug==0.9.4
argparse==1.2.1
boto==2.27.0
dj-database-url==0.3.0
django-allauth==0.16.1
django-autoslug==1.7.2
django-configurations==0.8
django-debug-toolbar==1.0.1
django-dotenv==1.2
django-extensions==1.3.3
django-secure==1.0
django-storages==1.1.8
gunicorn==18.0
oauthlib==0.6.1
psycopg2==2.5.2
python-openid==2.2.5
requests==2.2.1
requests-oauthlib==0.4.0
six==1.6.1
sqlparse==0.1.10
wsgiref==0.1.2
