body {
    margin-top: 50px;
}
#loginBtn {
    background-color: white;
    color: #428bca;
    border-color: #428bca;
}
#loginBtn:hover {
    background-color: #428bca;
    color: white;
    border-color: #357ebd;
}
#brand_image {
    margin-top: -9px;
    margin-left: 9%;
}
#myNavbar {
    padding-right: 25px;
}
.footerIcons {
    font-size: 30px;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
}
.campus {
    font-size: 100%;
}
.block {
    margin-top: 6%;
}
.spaces {
    padding: 15px;
    margin-right: 5%;
}
.spaces p {
    margin-bottom: 0;
    font-size: 12px;
    font-weight: bold;
}
.spaces a {
    text-decoration: none;
    color: #252525
}
li {
    padding-bottom: 0;
    padding-top: 0;
}
.grade {
    margin-left: 86%;
}
.university-info a: hover {
    text-decoration: none;
}
#signUpBtn {
    background-color: white;
    color: #398439;
    border-color: #398439;
}
#signUpBtn:hover {
    background-color: #47a447;
    color: white;
    border-color: #398439;
}
.heading-style {
    width:100%;
    background-color: #0B4F85;
    padding-top: 0;
    padding-bottom: 0;
}
.heading-style h1 {
    color: white;
    padding-top: 0;
    margin-bottom: 0;
}
.heading-style p {
    color: #3175A0;
    padding-top: 0px;
}
.heading-style h2 {
    color: white;
    padding-bottom: 5px;
}
.university-grade {
    margin-top: 27%;
}
.spaces:hover {
    background-color: #0B4F85;
}
.panel-heading > h4 {
    margin-top: 0;
    margin-bottom: 0;
}
.panel-body {
    background-color: #f5f5f5;
    padding-bottom: 0;
}
.panel-body > ul > li {
    padding-top: 10px;
    padding-bottom: 10px;
}
.panel-body > ul > li > a {
    padding-left: 10px;
}
.panel-body > ul > li > a:hover {
    text-decoration: none;
}
.panel-default {
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}
.search-width {
    width: 80%;
}
#home-searchform {
    padding: 10px;
    background-color: #f8f8f8;
    border: 1px solid #e8e8e8;
    margin-top: 25px;
    margin-bottom: 25px;
}
.home-banner {
    margin: 25px 0;
    margin-top: 0;
    padding: 15px;
    color: #fff;
    text-align: center;
    background-color: #0B4F85;
    border-top: 1px solid #134C75;
    border-bottom: 1px solid #134C75;
}
.home-banner > h2 {
    margin-top: 0;
    margin-bottom: 0;
}
.home-banner > h4 {
    margin-bottom: 0;
    opacity: .3;
}
.awesome-shadow {
    margin-top: 30px;
    height: 10px;
    position: relative;
    overflow: hidden;
}
.awesome-shadow:before {
    content:"";
    position: absolute;
    width: 96%;
    height: 15px;
    top: -15px;
    left: 2%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 200px / 50px;
}
.search input.search-text {
    height: 30px;
    border:0 !important;
    color: #555;
    margin: 0 auto;
    width:200px;
    transition: width 700ms, background 700ms;
    -webkit-transition: width 700ms, background 700ms;
    -moz-transition: width 700ms, background 700ms;
    -ms-transition: width 700ms, background 700ms;
    -o-transition: width 700ms, background 700ms;
    box-shadow: inset 0 1px 1px #444;
    -webkit-box-shadow: inset 0 1px 1px #444;
    -moz-box-shadow: inset 0 1px 1px #444;
    -ms-box-shadow: inset 0 1px 1px #444;
    -o-box-shadow: inset 0 1px 1px #444;
    border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -ms-border-radius:3px;
    -o-border-radius:3px;
}
.search input.search-text:focus {
    background-color: white;
    width:450px;
    border-color: #66afe9;
}
#btnSearch {
    background-color: white;
    color: #0B4F85;
    border-color: #0B4F85;
}
#btnSearch:hover {
    background-color: #134C75;
    color: white;
    border-color: #0B4F85;
}
.home-table-city {
    color: #999;
    font-size: 12px;
}
.home-table-city:hover {
    color: #999;
}
.home-table-name {
    color: #333;
    margin-bottom: 0;
}
.home-table-name:hover {
    color: #333;
}
.department-slip, .professor-slip {
    margin: 8px 0;
    background-color: #fcfcfc;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    color: #333;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}
.department-slip > span, .professor-slip  > span {
    background-color: #0B4F85;
    text-align: center;
    vertical-align: middle;
    width: 40px;
    line-height: 40px;
    color: #fff;
}
.professor-slip > span {
    width: 35px;
}
.department-slip > p {
    padding: 10px;
    margin-bottom: 0;
}
.professor-slip > p {
    padding: 10px;
    padding-bottom: 0;
    padding-top: 7px;
    margin-bottom: 0;
}
.department-slip:hover, .professor-slip:hover {
    background-color: #0B4F85;
    color: #fff;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}
.m-bottom-0 {
    margin-bottom: 0;
    padding-bottom: 0;
}
.department-label {
    font-size: 12px;
    margin-bottom: 10px;
}
.professor-details{
    font-weight: bold;
    margin-right: 25px;
    margin-bottom: 10px;
}
.professor-details p{
    margin-left: 30px;
    margin-bottom: 2px;
    padding-bottom: 10px;
}
.percent h1{
    margin-top: 5px;
}
.percent h3{
    margin-top: 5px;
}
.professor-percent{
    font-size: 36px;
}
.submited-by{
    margin-bottom: 0;
    margin-top: 0;
}
.department{
    font-size: 14px;
}
.department a{
    text-decoration: none;
    color: white;
}
#p-profile-uni{
    text-decoration: none;
    color: #3175A0;
}
.rates{
    margin-top: 4%;
}
.rates p{
    font-weight: bolder;
    margin-bottom: 0;
}
.rates label{
    font-weight: bolder;
}
.rates span{
    margin-bottom: 4%;
}
.rates .btn-group{
    margin-right: 5%;
}
.search{
    padding-right: 0;
    padding-left: 0;
}
input[type="radio"]{
    display:none;
}
#rate_dificulty input[type="radio"]:checked + label{
  background-color:red;
}
#graph{
    margin-bottom: 5px;
}
.result-not-found a{
    text-decoration: none;
}
#forgot-pwd {
    margin-top: 25px;
}
.login-social {
    margin: 0 20px;
}
/*
* Styling the base of the buttons
*/
 .button {
    width:120px;
    padding:10px;
    margin:15px;
    font-size:18px;
    font-weight:bold;
    text-align:center;
    text-decoration:none;
    text-shadow:1px 0 2px #333;
    color:#FFF;
}
.button:hover {
    color: #ddd;
    text-decoration: none;
}
/*
* Changing the background color for each button
*/
 .facebook {
    background:#3b5998;
}
.twitter {
    background:#00acee;
}
.googleplus {
    background:#dd4b39;
}
.pinterest {
    background:#c8232c;
}
.stumbleupon {
    background:#f74425;
}
.linkedin {
    background:#0e76a8;
}
.pocket {
    background:#ee4056;
}
.reddit {
    background:#ff4500;
}
.tumblr {
    background:#34526f;
}
.rss {
    background:#ee802f;
}
.path {
    background:#e41f11;
}
.hootsuite {
    background:#003366;
}
.github {
    background:#171515;
}
.behance {
    background:#005cff;
}
/*
* Changing the background color for each button on hover
*/
 .facebook:hover {
    background:#2f4679;
}
.twitter:hover {
    background:#0089bd;
}
.googleplus:hover {
    background:#b03b2d;
}
.pinterest:hover {
    background:#9f1b23;
}
.stumbleupon:hover {
    background:#c4361d;
}
.linkedin:hover {
    background:#0b5e85;
}
.pocket:hover {
    background:#bd3344;
}
.reddit:hover {
    background:#cb3600;
}
.tumblr:hover {
    background:#294158;
}
.rss:hover {
    background:#bd6625;
}
.path:hover {
    background:#b5180d;
}
.hootsuite:hover {
    background:#002851;
}
.github:hover {
    background:#121010;
}
.behance:hover {
    background:#0049cb;
}
.profile-pic-nav {
    margin-right: 10px;
}
.login-color{
    background-color: #f5f5f5;
    border: 1px solid #e4e4e4;
    padding-bottom: 1%;
    padding-top: 1%;
}
#uni-search{
    text-decoration: none;
    color: black;
}
.well {
    padding: 20px;
}
.col-xs-12 {
    padding: 0 10px;
}
.count{
    margin-left: 10px;
}
.comment p{
    font-weight: bolder;
    margin-bottom: 0;
}
/* xs */
@media (min-width: 0px) and (max-width: 767px) {
    .jumbotron.heading-style h2 {
        font-size: 24px;
    }
    .history-graph img{
        width: 100%;
    }
}

/* sm */
@media (min-width: 768px) and (max-width: 991px) {
}

/* md */
@media (min-width: 992px) and (max-width: 1199px) {
}

/* lg */
@media (min-width: 1200px) {
}