{% extends 'base.html' %} 
{% load static %}
{% block content %}

<br>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-4 col-md-offset-4">
                <ul>
                {% for prof in object_list %}
                    <li>{{ prof }}</li>
                {% endfor %}
                </ul>
            </div>
        </div>
         <div class="col-md-12">
            <div class="col-md-4 col-md-offset-4">
                <ul>
                {% for u in universities %}
                    <li>{{ u }}</li>
                {% endfor %}
                </ul>
            </div>
        </div>
         <div class="col-md-12">
            <div class="col-md-4 col-md-offset-4">
                <ul>
                {% for d in departments %}
                    <li>{{ d }}</li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
