{% extends 'base.html' %}
{% block header %}
<div class = "jumbotron heading-style">
	<div class = "container">
		<div class = "col-md-12">
			<div class = "col-md-1 pull-right">
				<div class = "grade{{grade}}lrg university-grade"></div>
			</div>
			<div class = "col-md-11">
				<h2>
					{{specified_university.name}}, {{specified_university.city}}
				</h2>
			</div>
		</div>	
	</div>
</div>
{% endblock %}
{% block content %}
<div class = "container">
	<div class = "row">
		<div class = "col-md-12">
			<div class = "col-md-4">
				<div class = "panel panel-default">
					<div class = "panel-heading">
						<h4 class="text-center">Los Mejores 5</h4>
					</div>
					<div class = "panel-body">
					<ul>
						{% for best_professors in hi_professors %}
							<li class="clearfix">
							<div class = "grade{{best_professors.get_grade}}lrg professor-grade pull-left"></div>
							<p>{{best_professors}}</p>
							</li>
						{% endfor %}
						</ul>
					</div>
				</div>
			</div>
			<div class = "col-md-4">
				<div class = "panel panel-default">
					<div class = "panel-heading">
						<h4 class="text-center">Los Peores 5</h4>
					</div>
					<div class = "panel-body">
						<ul>
						{% for low_professors in low_professors %}
							<li class="clearfix">
							<div class = "grade{{low_professors.get_grade}}lrg pull-left"></div>
							<p>{{low_professors}}</p>
							</li>
						{% endfor %}
						</ul>
					</div>
				</div>
			</div>
			<div class = "col-md-4">
				<div class = "panel panel-default">
					<div class = "panel-heading">
						<h4 class="text-center">Comentarios recientes</h4>
					</div>
					<div class = "panel-body">
						<ul>	
						{% for recent_comment in recent_comments %}
							<li class="clearfix">
							<div class = "avatar{{recent_comment.created_by.gender}}lrg pull-left"></div>
							<p>{{recent_comment|truncatechars:30}}</p>
							</li>
						{% endfor %}
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock%}