{% extends "base.html"%}
{% load static %}
{% block title %}Universidades | Notaso{% endblock %}
{% block header %}
<div class = "jumbotron heading-style">
	<div class = "container">
		<div class = "row">
			<h1>Universidades</h1>
			<p>Conoces a tus profesores antes de entrar al salón</p>
		</div>	
	</div>
</div>
{% endblock %}
{% block content %}
	<div class = "container">
		<section class = "col-md-12 col-md-offset-1">
			<ul>
			{% for universities in universities %}
				{% if universities.emblem %}	
					<li>
						<div class = "col-md-3 thumbnail spaces">
							<a href = "{{universities.slug}}">
									<img src = "/static/{{universities.emblem}}" height = "180px" width = "100%">	
								<div>
									<p>{{universities.name}}</p>
									<p>{{universities.city}}</p>
									
									<p><span class = "label label-primary">{{universities.count}}</span>
									 profesores</p>
									<div class = "grade{{universities.get_grade}}lrg grade"></div>
								</div>
							</a>
						</div>
					</li>
				{% else %}
					<li>
						<div class = "col-md-3 thumbnail spaces">
							<a href = "{{universities.slug}}">
								<div class = "center-block">
									<img src = "http://dummyimage.com/200x180/5a5a5a/fff.png&text=No+Emblem" width = "100%">
								</div>	
								<div>
									<p>{{universities.name}}</p>
									<p>{{universities.city}}</p>
									<p><span class = "label label-primary">{{universities.count}}</span>
									 profesores</p>
									<div class = "grade{{universities.get_grade}}lrg grade"></div>
								</div>
							</a>
						</div>
					</li>
				{% endif %}	
			{% endfor %}
			</ul>
		</section>
	</div>
{% endblock %}