{% load static %}
{% load users_extras %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Notaso{% endblock %}</title>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static "css/reset.css"%}">
    <link rel="stylesheet" href="{% static "css/sprite.css"%}">
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css"%}">
    <link rel="shortcut icon" type="image/png" href="{%static "img/favicon.ico"%}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css"%}">
    <link rel="canonical" href="https://notaso.com" />
    <meta property="og:site_name" content="Notaso"/>
    <meta property="og:description" content="Basado en las experiencias de tus compañeros Notaso te ayuda a escoger a los mejores profesores.Comenta tu experiencia, evalua a tu profesor y si no lo encuentras puedes añadirlo."/>
    <meta property="og:type" content="article"/>
    <meta property="og:image" content="{% static "img/notaso-flyer.png" %}"/>

    {% block extra_head %}
        <meta property="og:title" content="Notaso te ayuda a escoger a los mejores profesores."/>
        <meta property="og:url" content="https://notaso.com/"/>
    {% endblock %}

    <!-- Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-11962759-4', 'notaso.com');
      ga('send', 'pageview');

    </script>
</head>
<body>
    {% block navbar %}
    <nav class="navbar navbar-default navbar-fixed-top m-top-for-nav" role="navigation">
        <div class="container-fluid">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><img id="brand_image" class="img-responsive" alt="Responsive image" src="{% static "img/notaso-200x37.png" %}"/></a>
            </div>

            <div class="collapse navbar-collapse" id="myNavbar">
                <div class="navbar-right">
                    <ul class="nav navbar-nav">
                        {% if user.is_authenticated %}
                        <li><a href="{% url 'professors:create_professor' %}">Añadir Profesor</a>
                        </li>
                        {% endif %}
                        <li><a href="{% url 'universities:universities' %}">Universidades</a>
                    </ul>
                    {% if user.is_authenticated %}
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    {% if user.socialaccount_set.all %}
                                         <img src="{{ user|avatar_https:user.socialaccount_set.all.0.get_avatar_url }}" class="brand profile-pic-nav" width="20" height="20" class="pull-left">
                                    {% else %}
                                        <img src="{{ user|gravatar_url:user.email }}" class="brand profile-pic-nav" width="20" height="20" class="pull-left">
                                    {% endif %}
                                    {{ user.first_name }} {{ user.last_name }}<b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="{% url 'users:settings' %}">
                                        <span class="glyphicon glyphicon-cog"> </span> Configuración</a>
                                    </li>
                                    <li>
                                        <a href="/accounts/logout">
                                        <span class="glyphicon glyphicon-log-out"> </span> Logout</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    {% else %}
                        <ul class="nav navbar-nav navbar-form navbar-right">
                            <a href="/accounts/login" class="btn btn-primary" id="loginBtn" >Login</a>
                            <a href="/accounts/signup" class="btn btn-default" id="signUpBtn">Registrarse</a>
                        </ul>
                    {% endif %}
                </div>
                {% if navbarSearchShow != True %}
                    <div class="search navbar-right">
                        <form action="/search" class="navbar-form navbar-left" role="form" method="GET">
                            <div class="form-group">
                                <input class="search-text form-control box-shadow" type="text" placeholder="Busca un profesor" name="q" value="{{search_term}}"/>
                            </div>
                            <button type="submit" class="btn btn-info" id="btnSearch">Buscar</button>
                        </form>
                    </div>
                {% endif %}
            </div>
        </div>
    </nav>
    {% endblock %}
    {% block header %}{% endblock %}
    {% block content %}{% endblock %}
    {% block extra_body %}
    {% endblock %}
    {% block footer %}
        <div class="container">
            <div class="awesome-shadow"></div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1">
                    <a href="https://www.facebook.com/notaso">
                        <i class="footerIcons fa fa-facebook" data-toggle="tooltip" data-placement="top" title="Facebook"></i>
                    </a>
                    <a href="https://twitter.com/notaso">
                        <i class="footerIcons fa fa-twitter" data-toggle="tooltip" data-placement="top" title="Twitter"></i>
                    </a>
                    <a href="https://github.com/jpadilla/notaso">
                        <i class="footerIcons fa fa-github" data-toggle="tooltip" data-placement="top" title="GitHub"></i>
                    </a>
                    <a href="/legal/">
                        <i class="footerIcons fa fa-legal" data-toggle="tooltip" data-placement="top" title="Legal"></i>
                    </a>
                    <a href="#">
                        <i class="footerIcons fa fa-question" data-toggle="tooltip" data-placement="top" title="Preguntas"></i>
                    </a>
                </div>
            </div>
        </div>
    {% endblock %}
    {% block js %}
        <script src="{% static "js/jquery-2.1.0.js"%}"></script>
        <script src="{% static "js/bootstrap.min.js"%}"></script>
        <script>
        $(document).ready(function(){
            $("[data-toggle=tooltip]").tooltip();

            $("[data-toggle=popover]").popover();
        });
        </script>
    {% endblock %}
    {% block extra_bottom %}{% endblock %}
</body>
</html>
